<h1>FORM</h1>
<div class=form>
<%= form_with url: "/flights", method: :get do |form| %>

From
  <%= select_tag(:departure_airport_id, options_for_select(@airport_options)) %>

To       
  <%= select_tag(:destination_airport_id, options_for_select(@airport_options)) %>


Date
  <%= select_tag(:flight_date, options_for_select(@available_dates)) %>

Number of Passengers
 <select name="passengers_number">
<option>1</option>
<option>2</option>
<option>3</option>
    </select>


  <%= submit_tag "Search" %>
  <% end %>
</div>
<h1>Flights</h1>


<table>

  <thead>
    <tr>
           <th>Airline</th>

      <th>Departure airport</th>
      <th>Destination airport</th>
      <th>Date</th>
      <th>Departs at</th>
            <th>Arrives at</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <div>
<% if params[:departure_airport_id].present?%>
  <% found_flights = Flight.where departure_airport_id: params[:departure_airport_id], destination_airport_id: params[:destination_airport_id], flight_date: params[:flight_date]
 %>
  <%= "Found #{found_flights.length} flights:" %>
  </div>
    <br>

  <tbody>
<%= form_with url: new_booking_url ,method: "get" do |form|%>

    <% found_flights.each do |flight| %>

      <tr>
        <td><%= flight.airline %></td>

        <td><%= flight.departure_airport.name %></td>
        <td><%= flight.destination_airport.name %></td>
        <td><%= flight.flight_date %></td> 
        <td><%= flight.departure_time%></td>
        <td><%= flight.arrival_time%></td>
        <td><%= form.radio_button :flight, flight.id %></td>
      <%= form.hidden_field :passengers_number, value: params[:passengers_number] %>

        <% end %>

      </tr>

  </tbody>
</table>
<%= form.submit "Book now"%>
<% end %>

 <% end %>
