<h1>FORM</h1>
<div class=form>
<%= form_with url: "/flights", method: :get do |form| %>

From
  <%= select_tag(:departure_airport_id, options_for_select(@airport_options)) %>

To       
<%= select(:flight, :destination_airport_id, @airport_options) %>


Date
  <%= select_tag(:departure_time, options_for_select(@available_dates)) %>

Number of Passengers
 <select name="passengers_number">
<option>1</option>
<option>2</option>
<option>3</option>
    </select>


  <%= submit_tag "Search" %>
  <% end %>
</div>
<h1>Flights</h1>

<h2>
<%= link_to "Airports", "airports#index"%>
</h2>
<table>

  <thead>
    <tr>
           <th>Airline</th>

      <th>Departure airport</th>
      <th>Destination airport</th>
      <th>Date</th>
      <th>Departs at</th>
            <th>Arrives at</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <td><br></td>

    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.airline %></td>

        <td><%= flight.departure_airport.name %></td>
        <td><%= flight.destination_airport.name %></td>
        <td><%= flight.flight_date %></td>
        <td><%= flight.departure_time%></td>
        <td><%= flight.arrival_time%></td>


        <% end %>
      </tr>
  </tbody>
</table>