<h1>Your Booking</h1>

<h2> <%= "#{@flight.airline} flight from #{@flight.departure_airport.name} to #{@flight.destination_airport.name}
on #{@flight.flight_date} at #{@flight.departure_time}. Arrives at #{@flight.arrival_time}" %></h2>
        



<h3>Contact details:</h3>
    <% i = 1%>

        <%= form_with model: @booking, url: bookings_path do |f| %>
            <%= f.hidden_field :flight_id, value: @flight.id %>

            <% (params[:passengers_number]).to_i.times do %>
                <%= f.fields_for @booking.passengers.build do |form| %>

                <h4><%= "Passenger #{i.to_s}"%> <br> </h4>
                <%i += 1%>

                    <%= form.label :name, "Full name:" %>
                    <%= form.text_field :name %>
                <br>
                    
                    <%= form.label :email, "Email:" %>
                    <%= form.email_field :email %>
        
                <br><br>
                <br>

                <% end %>
            <%= f.submit "Confirm details"%>
        <% end %>

        <% end %>


