<h1>Your Booking</h1>

<h2> <%= "#{@flight.airline} flight from #{@flight.departure_airport.name} to #{@flight.destination_airport.name}
on #{@flight.flight_date} at #{@flight.departure_time}. Arrives at #{@flight.arrival_time}" %></h2>
        



<h3>Contact details:</h3>

<%= form_with model: @booking, url: bookings_path do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>

  <%= f.fields_for :passengers do |form| %>

    <%= form.label :name, "Full name:" %>
    <%= form.text_field :name %>
<br>
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email %>
    <br><br>
  <% end %>

  <%= f.submit "Confirm details"%>
<% end %>
       



