<h1>Your Booking</h1>

<h2> <%= "#{@flight.airline} flight from #{@flight.departure_airport.name} to #{@flight.destination_airport.name}
on #{@flight.flight_date} at #{@flight.departure_time}. Arrives at #{@flight.arrival_time}" %></h2>
<div>
        



<h5>Contact details:</h5>

<%= form_with model: @passenger do |form| %>
  
    <%= form.label :name, "Full name:" %>
    <%= form.text_field :name %>
<br>
      
    <%= form.label :email, "Email:" %>
    <%= form.email_field :email %>
<br>
  
    <%= form.label :name, "Phone number:" %>
    <%= form.telephone_field :phone %>

<br><br>
    <%= form.submit "Confirm details"%>
    <% end %>
</div>
